.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.banner {
  height: 75px;
  background: #093E78;
}

.App-link {
  color: #61dafb;
}

.pink {
  color: #FF00D6;
}

.blue {
  color: #37D1E5;
}

.orange {
  color: #FF7B5F;
}

.bislenz-blue {
 color: #093E78;
}

.bg-bislenz-blue {
   background: #093E78;
}

.green {
  color: #33DB51;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
